
                <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th>NAME</th>
                    <th>PHONE #</th>
                    <th>EMAIL</th>

                   <!--<th>Last Stay</th>-->
                  </tr>
                </thead>
                <tbody>
                <%for (var i = 0; i < Reservation_Room.length; i++){%>
                
                <tr>
                <td><%=Reservation_Room[i].Reservation.Guest.first_name%> <%=Reservation_Room[i].Reservation.Guest.last_name%></td>
                <td><%=Reservation_Room[i].Reservation.Guest.guest_phone%></td>
                <td><%=Reservation_Room[i].Reservation.Guest.guest_email%></td>
                <!--<td><%="NA"%></td>-->
                </tr>

                <%}%>
                </tbody>
                </table>
                