
                <div class = "constrainer2">
                <table class="table is-fullwidth is-striped is-narrow is-hoverable">
                <thead>
                  <tr>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>PHONE #</th>
                    <th>EMAIL</th>

                   <!--<th>Last Stay</th>-->
                  </tr>
                </thead>
                <tbody >
                <%for (var i = 0; i < Reservation_Room.length; i++){%>
                
                <tr>
                <td><%=Reservation_Room[i].Reservation.Guest.first_name%></td>
                <td><%=Reservation_Room[i].Reservation.Guest.last_name%></td>
                <td><%=Reservation_Room[i].Reservation.Guest.guest_phone%></td>
                <td><%=Reservation_Room[i].Reservation.Guest.guest_email%></td>
                <!--<td><%="NA"%></td>-->
                </tr>

                <%}%>
                </tbody>
                </table>
                </div>
                