
                <div class = "constrainer2">
                <table id="clickme" class="table is-fullwidth is-striped is-narrow is-hoverable">
                <thead>
                  <tr>
                  <th width = "53px">RES #</th>
                  <th width = "142px">NAME</th>
                  <th width = "76px">DATE IN</th>
                  <th width = "76px">DATE OUT</th>
                  <th width = "73px">ROOM #</th>
                  </tr>
                </thead>
                <tbody>
                <%for (var i = 0; i < Reservation2.length; i++){%>
                
                <tr>
                <td width = "53px"><%=Reservation2[i].id%></td>
                <td width = "142px"><%=Reservation2[i].Guest.first_name%> <%=Reservation2[i].Guest.last_name%></td>
                <td width = "76px"><%=Reservation2[i].date_in%></td>
                <td width = "76px"><%=Reservation2[i].date_out%></td>
                <td width = "73px"><%=Reservation2[i].RoomId%></td>
                <td>
                    
                      <div class="field is-horizontal">
                        <div class="field-body">
                          <div class="field has-addons">
                            <div class = "control">
                                <input data= <%=Reservation2[i].id%>  class = "button check-out" type = "submit"  value = "CHECK OUT">
                            </div>
                          </div>
                        </div>
                      </div>
                    
                  </td>
                </tr>

                <%}%>
                </tbody>
                    </table>
                    </div>