<div class = "constrainer2">
<div class= "room-search">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th width = "86px">ROOM #</th>
                    <th width = "123px">PRICE/NIGHT</th>
                    <th width = "96px">MAX OCC.</th>
                    <th width = "100px"># OF BEDS</th>
                    <th width = "93px">BED TYPE</th>
                    <th width = "108px">ADJOINING</th>
                    <th width = "87px">JACCUZI</th>
                    <th width = "99px">BALCONY</th>
                    <th width = "79px">SMOKE</th>
                </tr>
            </thead>
            <tbody>

            <%for (var i = 0; i < Room.length; i++){%>
        
                <tr>
                <td width = "89px"><%=Room[i].id%></td>
                <td width = "126px"><%=Room[i].price_per_night%></td>
                <td width = "99px"><%=Room[i].max_occupancy%></td>
                <td width = "103px"><%=Room[i].number_of_beds%></td>
                <td width = "96px"><%=Room[i].bed_type%></td>
                <td width = "111px"><%=Room[i].adjoining%></td>
                <td width = "90px"><%=Room[i].jacuzzi%></td>
                <td width = "102px"><%=Room[i].balcony%></td>
                <td width = "82px"><%=Room[i].smoke%></td>
                <td>
                    <form action ="/api/select-room" method ="POST">
                    <div class="field is-horizontal">
                        <div class="field-body">
                        <div class="field has-addons">
                            <div class = "control">
                                <input id="select-room" class="button" type="submit" value="SELECT ROOM">
                            </div>
                        </div>
                        </div>
                    </div>
                    </form>
                </td>
                </tr>
            <%}%>
            
            </tbody>
        </table>
    </div>
    </div>
