<div class = "constrainer2">
<div class= "room-search">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th width = "86px">ROOM #</th>
                    <th width = "123px">PRICE/NIGHT</th>
                    <th width = "96px">MAX OCC.</th>
                    <th width = "100px"># OF BEDS</th>
                    <th width = "93px">BED TYPE</th>
                    <th width = "108px">ADJOINING</th>
                    <th width = "87px">JACCUZI</th>
                    <th width = "99px">BALCONY</th>
                    <th width = "79px">SMOKE</th>
                </tr>
            </thead>
            <tbody>

            <%for (var i = 0; i < validRoom.length; i++){%>
        
                <tr>
                <td width = "89px"><%=validRoom[i].Room.id%></td>
                <td width = "126px">$<%=validRoom[i].Room.price_per_night%></td>
                <td width = "99px"><%=validRoom[i].Room.max_occupancy%></td>
                <td width = "103px"><%=validRoom[i].Room.number_of_beds%></td>
                <td width = "96px"><%=validRoom[i].Room.bed_type%></td>
                <td width = "111px"><%=validRoom[i].Room.adjoining%></td>
                <td width = "90px"><%=validRoom[i].Room.jacuzzi%></td>
                <td width = "102px"><%=validRoom[i].Room.balcony%></td>
                <td width = "82px"><%=validRoom[i].Room.smoke%></td>
                <td>
                    <form action ="/api/select-room" method ="POST">
                    <div class="field is-horizontal">
                        <div class="field-body">
                        <div class="field has-addons">
                            <div class = "control">
                                <input id="select-room" class="button" type="submit" value="SELECT ROOM">
                            </div>
                        </div>
                        </div>
                    </div>
                    </form>
                </td>
                </tr>
            <%}%>
            
            </tbody>
        </table>
    </div>
    </div>
