<div class= "room-search">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>ROOM #</th>
                    <th>PRICE/NIGHT</th>
                    <th>MAX OCC.</th>
                    <th># OF BEDS</th>
                    <th>BED TYPE</th>
                    <th>ADJOINING</th>
                    <th>JACCUZI</th>
                    <th>BALCONY</th>
                    <th>SMOKE</th>
                </tr>
            </thead>
            <tbody>

            <%for (var i = 0; i < validRoom.length; i++){%>
        
                <tr>
                <td><%=validRoom[i].Room.id%></td>
                <td><%=validRoom[i].Room.price_per_night%></td>
                <td><%=validRoom[i].Room.max_occupancy%></td>
                <td><%=validRoom[i].Room.number_of_beds%></td>
                <td><%=validRoom[i].Room.bed_type%></td>
                <td><%=validRoom[i].Room.adjoining%></td>
                <td><%=validRoom[i].Room.jacuzzi%></td>
                <td><%=validRoom[i].Room.balcony%></td>
                <td><%=validRoom[i].Room.smoke%></td>
                <td>
                    <form action ="/api/select-room" method ="POST">
                    <div class="field is-horizontal">
                        <div class="field-body">
                        <div class="field has-addons">
                            <div class = "control">
                                <input id="select-room" class="button" type="submit" value="SELECT ROOM">
                            </div>
                        </div>
                        </div>
                    </div>
                    </form>
                </td>
                </tr>
            <%}%>
            
            </tbody>
        </table>
    </div>
