
                <table class="table is-fullwidth">
                <thead>
                  <tr>
                  <th>RES #</th>
                  <th>NAME</th>
                  <th>DATE IN</th>
                  <th>DATE OUT</th>
                  <th>ROOM #</th>
                  </tr>
                </thead>
                <tbody>
                <%for (var i = 0; i < Reservation.length; i++){%>
                
                <tr>
                <td><%=Reservation[i].id%></td>
                <td><%=Reservation[i].Guest.first_name%></td>
                <td><%=Reservation[i].date_in%></td>
                <td><%=Reservation[i].date_out%></td>
                <td><%=Reservation[i].RoomId%></td>
                <td>Check-In</td>
                </tr>

                <%}%>
                </tbody>
                    </table>