
                <table class="table is-fullwidth">
                <thead>
                  <tr>
                  <th>RES #</th>
                  <th>NAME</th>
                  <th>DATE IN</th>
                  <th>DATE OUT</th>
                  <th>ROOM #</th>
                  </tr>
                </thead>
                <tbody>
                <%for (var i = 0; i < Reservation2.length; i++){%>
                
                <tr>
                <td><%=Reservation2[i].id%></td>
                <td><%=Reservation2[i].Guest.first_name%> <%=Reservation2[i].Guest.last_name%></td>
                <td><%=Reservation2[i].date_in%></td>
                <td><%=Reservation2[i].date_out%></td>
                <td><%=Reservation2[i].RoomId%></td>
                <td>
                    <form action = "/api/checkOut" method = "POST">
                      <div class="field is-horizontal">
                        <div class="field-body">
                          <div class="field has-addons">
                            <div class = "control">
                                <input id = "check-out" class = "button" type = "submit" value = "CHECK OUT">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </td>
                </tr>

                <%}%>
                </tbody>
                    </table>