
                <table class="table is-fullwidth ">
                <thead>
                  <tr>
                  <th>NAME</th>
                  <th>PHONE #</th>
                  <th>EMAIL</th>
                  <!--<th>Last Stay</th>-->
                  </tr>
                </thead>
                <tbody >
                <%for (var i = 0; i < Guest.length; i++){%>
                
                <tr>
                <td><%=Guest[i].first_name%> <%=Guest[i].last_name%></td>
                <td><%=Guest[i].guest_phone%></td>
                <td><%=Guest[i].guest_email%></td>
                <!--<td><%="NA"%></td>-->
                </tr>

                <%}%>